<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <application
        android:allowBackup="false"
        android:label="Yezdi Maps"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSy000000000000000000000000000000000"/>
        <meta-data android:name="YEZDI_ROUTES_KEY" android:value="AIzaSy111111111111111111111111111111111"/>
        <activity android:name="com.untitled1ne.yezdimap.MapActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
